## Build results
[Bb]in/
[Oo]bj/
[Pp]ublish/
release_portable/
*.zip

## Scratch and temp test scripts
scratch/
*.log
*.ps1

## Certificates and keys
*.cer
*.crt
*.pfx
*.p12

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider & VS Code
.idea/
.vscode/
